footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contents {
    display: flex;
    justify-content: space-around;
    width: 90dvw;
    padding: 3rem 1rem;
}

footer p {
    margin: 0;
    padding: 0;
}

.copyright {
    background-color: var(--color-accent);
    color: black;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-menu-list p {
    margin: 0;
    padding: 0;
}