@font-face {
  font-family: zuume-rough-bold;
  src: url(fonts/zuume-rough-bold.ttf) format("truetype");
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main {
  min-height: 100vh;            
  display: flex;
  justify-content: center;    
  align-items: center;          
  position: relative;
}

.contact-container{
    margin: auto;
    width: 600px;
    position: relative;
    z-index: 1; 
}

.contact-header{
    text-align: center;
    padding: 15px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'zuume-rough-bold', sans-serif;
    background-color: #002f3f;
    color: white;
    border-radius: 20px 20px 0 0px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  background-color: white;
  position: relative;
  padding: 40px 20px;
  max-width: 600px;
  border-radius: 0 0 20px 20px;
}