@font-face {
  font-family: zuume-rough-bold;
  src: url(fonts/zuume-rough-bold.ttf) format("truetype");
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    display: flex;
    align-items: center;
    background-color: #002f3f;
    padding: 16px 32px;
    position: relative; /* For absolute positioning of nav */
}

.wrapper .title{
    display: flex;
    align-items: center;
    gap: 15px;
}
.wrapper .title a {
    text-decoration: none;
}
.wrapper .title .logo {
    width: 60px;
    height: 60px;
}
.wrapper .title .logo-title{
    color: #FFFFFF;
    font-size: 24px;
    font-family: "zuume-rough-bold", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    height: 48px;
    width: auto;
}
.wrapper .title .logo-title span{
    color: #d5ba2b;

}

.fnb-logo {
    width: 60px;
    height: 60px;
}

.wrapper .nav-bar{
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    padding: 8px 0;
}
.wrapper .nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wrapper .nav-bar ul li{
    list-style-type: none;
}

.wrapper .nav-bar ul li a{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    position: relative;
    transition: font-size 0.2s ease-in-out;
}
.wrapper .nav-bar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d5ba2b;
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}
.wrapper .nav-bar ul li a.active {
    color: #d5ba2b;
    font-weight: 700;
}
.wrapper .nav-bar ul li a:hover{
    font-size: 17px;
    color: #d5ba2b;
}

.bottom-border{
    width: 100%;
    height: 10px;
    background-color: #002060;
}


.account-link {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.account-icon {
    width: 28px;
    height: 28px;
    filter: none;
    transition: filter 0.2s;
}

.account-link:hover .account-icon {
  filter: invert(60%) sepia(75%) saturate(700%) hue-rotate(1deg) brightness(200%) contrast(90%);
}

.account-link.active .account-icon {
  filter: invert(60%) sepia(75%) saturate(700%) hue-rotate(1deg) brightness(200%) contrast(90%);
}

main{
    height: 100vh;
}
