@font-face {
    font-family: zuume-rough-bold;
    src: url(fonts/zuume-rough-bold.ttf) format("truetype");
  }
  *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../images/feedback-bg.png') no-repeat center center;
    background-size: cover;
    z-index: -1;

  }
  .form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.form-group{
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  flex-direction: row;
    --padding-left: 5px;
    --font-size: 1.2rem;
    position: relative;
}
  .icon {
  width: 30px;
height: 30px;
  border: 2px solid #2c6e7a;
  border-radius: 100%;

  fill: #2c6e7a;
}
.email-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #2c6e7a;
}
 .form-group input, .form-group textarea {

    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border: none;
    background-color: #d9d9d9;
    padding: var(--padding-left);
}
.form-group textarea {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  resize: none;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons a, .buttons button{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #002f3f;
}

.buttons button{
    background-color: #d5ba2b;
    color: black;
}

.buttons a:hover, .buttons button:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.status{
    color: #2ecc71;
    background-color: transparent;
    border: 1px solid #2ecc71;
    padding: 12px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}