@font-face {
    font-family: zuume-rough-bold;
    src: url(fonts/zuume-rough-bold.ttf) format("truetype");
  }
  *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../images/feedback-bg.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
  }
  main {
    min-height: 100vh;
   flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  padding-bottom: 150px; 
}
  .feedback-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 3rem 1rem;
  }

  .feedback-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 800px;
    width: 100%;
  }

  .feedback-card.left img {
    order: 1;
  }
  .feedback-card.left .bubble {
    order: 2;
  }

  .feedback-card.right img {
    order: 2;
  }
  .feedback-card.right .bubble {
    order: 1;
  }

  .feedback-card img {
    width: 200px;

    object-fit: cover;
  }

  .bubble {
    background: #164b63;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    position: relative;
    flex: 1;
  }

  .bubble h3 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
  }

  .bubble p {
    margin: 0;
    font-style: italic;
    line-height: 1.5;
  }


  .feedback-card.left .bubble::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-right-color: #164b63;
  }

  .feedback-card.right .bubble::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left-color: #164b63;
  }

  .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 170px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    text-decoration: none;
    border-radius: 50px;
    background-color: #ffcc00;
    color: #002f3f;
    font-size: 12px;
    line-height: 30px;

    text-align: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
    z-index: 1000;
  }

  .floating-btn:hover {
    background-color: #ffaa00;
    transform: scale(1.1);
  }
